.github-avatar {
    max-width: 100%;
    border-radius: 100%;
    margin: 0 auto;
}
.github.channel-icon {
  max-width: 100%;
}
.github-detail {
  float: right;
  color: #eee;
  text-align: left;
}
.github-username {
  font-style: italic;
  font-size: 20px;
}
.github-detail a {
  color: yellow;
}
.github-timestamp {
  font-size: .8em;
}