.channel {
  padding: 12px;
  cursor: pointer;
  display: flex;
}

.channel.github {
  background-color: #333;
  color: #fff;
}

.channel.blog {
  background-color: #f06;
  color: #fff;
}

.channel.about {
  background-color: #fff;
  color: #777;
}

.channel.twitter {
  background-color: #4099FF;
  color: #fff;
}